body {
	margin: 0;
}

#header {
	position: relative;
	height: 200px;
	width: 100%;
	transition: 1s;
}

#fixed {
	filter: brightness(100%);
	z-index: 999999;
	position: fixed;
	background-image: url('fundo2.jpeg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: calc(100vh - 50px);
	transition: 0.5s ease-in-out;
}

#menu {
	z-index: 9999;
/*	position: fixed;
	bottom: 0;*/
/*	height: 60px;*/
/*	width: 100%;*/
	background-color: #252525;
	transition: 0.5s ease-in-out;/*
	margin-bottom: 0;*/
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background: #252525;
}

#menu.high-index	{
	z-index: 99999999999;
}

#fixed.way	{
	height: 0px;
	filter: brightness(5%);
}

#menu.way {
	bottom: calc(100vh - 50px);
}

#circulo {
	min-height: calc(100vh - 50px);
	padding-top: 60px;
	padding-bottom: 60px;
	transition: 0.5s;
}

#circulo.way {
	opacity: 1;
}

.bolinha {
	margin: 20px;
	position: relative;
	width: 100%;
	border-radius: 100%;
	background-color: #65b7fa;
}
.bolinha img {
	opacity: 0;
	width: 100%;
	height: auto;
}

.bolinha h1 {
	position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
}